@using Razor_Views.Models;
@{
	string appTitle = "I'm  currently watching better call saul";
	Person person = new Person()
			{
				Name = "Rahul", 
				DateOfBirth = Convert.ToDateTime("1998-01-02"),
				Gender = Gender.Other,
				FavouriteMovies = new List<string>()
				{
					"Shutter Island",
					"Fight Club"
				}
			};

	string alertMessage = $@"<script>alert('{person.FavouriteMovies.Count} people found')</script>";
}

@{
	decimal? getAge(DateTime? dateOfBirth)
	{
		if (dateOfBirth.HasValue)
		{
			return Math.Round((decimal)(DateTime.Now - dateOfBirth.Value).TotalDays / 365.25m);
		}

		return null;
	}
}

<!DOCTYPE html>

<html>
	<head>
		<title>
			Hello Mvc View
		</title>
		<meta charset="utf-8" />
	</head>
	<body>
		@Html.Raw(alertMessage)
		<div>
			<h1>@appTitle</h1>
			<h2>@person.Name</h2>
			
			@* IF LOOP *@

			@if (person.DateOfBirth.HasValue)
			{
				var age = Math.Round((DateTime.Now - person.DateOfBirth.Value).TotalDays / 365.25);
			<h3>@age</h3>
			}
			else
			{
				<h3>Date of Birth is Unknown</h3>
			}
			
			@* SWITCH CASE  *@

			@switch (person.Gender)
			{
				case Gender.Male:
				<p>Ok I Understand. First Rule of fight club. Isn't it</p>
				break;

				case Gender.Female:
				<p>It’s not gambling when you know you’re going to win.</p>
				break;

				default:
				<p>The North Remembers.</p>
				break;
			}

			@* FOR EACH *@

			<h2>Favourite Movies</h2>
			@foreach(string movie in person.FavouriteMovies)
			{
				<text>Go watch it...</text>
				@:Hello World
				<h4>@movie</h4>
			}

			@{
				<h1>The Age Calculated using Function is : </h1>
				<h2>@getAge(person.DateOfBirth)</h2>
			}

		</div>

	</body>
</html>